.chapter2-container { display: none; }

.statue-chapitre2 { transform: translateX(-55%); }

.chapter2-page1-text-rightPart { margin-top: 138px; }

.chapter2-page2-text { margin-left: 100px; }

.chapter2-page-leftProject { margin-top: 330px; margin-left: 0%; }
