@import './variables';

.home {
  width: 100%;
  height: 100%;

  &__carousel {
    width: 100vw;
    height: 100%;
    display: flex;

    .canvas-panel {
      width: 100%;
      height: 100%;
      position: absolute;
      border-left: 120px solid #000;
      border-right: 120px solid #000;
      border-top: 60px solid #000;
      border-bottom: 60px solid #000;
      pointer-events: none;
    }

    .canvas-container {
      width: 100%;
      height: 100%;
      position: relative;

      canvas{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        transition: opacity .6s $quad-ease-out;

        .actus-page-visible & {
          opacity: 0;
        }
      }
    }
  }

  &__interface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .dots-container {
      height: 20px;
      position: absolute;
      bottom: 30px;
      right: 30px;
      display: flex;
      align-items: center;
      opacity: 1;
      transition: opacity .4s $quad-ease-out;

      &.is-hidden {
        opacity: 0;
        pointer-events: none;
      }

      .dot {
        position: relative;
        margin: 0 10px;
        width: 24px;
        height: 24px;
        pointer-events: all;

        &:hover {
          .dot-outer {
            transform: scale(1);
          }
        }

        &.is-active .dot-outer {
          transform: scale(1);
        }

        &-outer {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 1px solid black;
          transform: scale(0);
          transform-origin: center;
          transition: transform .4s $quad-ease-in-out;
        }

        &-inner {
          position: absolute;
          width: 12px;
          height: 12px;
          background: black;
          border-radius: 50%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .form-black {
      top: -5%;
      left: 0;
      position: absolute;
      width: 100%;
      height: 110%;
      background-image: url('../assets/interface/carousel/form-black.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: -70px;
      z-index: 3;

      @media screen and (min-height: 1200px) and (max-width: 800px) {
        background-position-x: -130px;
      }
    }

    .background {
      position: absolute;
      width: 300px;
      height: 100%;
      background-color: #C40202;
      transform-origin: right;
      z-index: 1;
    }

    .form-paper {
      left: 0;
      position: absolute;
      width: 700px;
      min-height: 100%;
      height: 1000px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      @media screen and (max-height: 1024px) {
        width: 600px;
        left: -50px;
      }

      @media screen and (max-height: 800px) {
        width: 500px;
        left: -50px;
      }

      @media screen and (max-height: 600px) {
        width: 600px;
        left: -100px;
      }

      @media screen and (max-width: 1300px) {
        width: 600px;
        left: -30px;
      }

      .form-paper-img {
        position: absolute;
        top: -10%;
        height: 120%;
        width: 100%;
        right: 0;
        pointer-events: all;
      }

      .content {
        position: absolute;
        width: 50%;
        right: 0;
        top: 50%;
        transform: translateX(-30%) translateY(-35%);
        height: auto;
        display: flex;
        flex-direction: column;
        pointer-events: all;

        @media screen and (max-height: 800px) {
          transform: translateX(-30%) translateY(-45%);
        }

        .title {
          align-self: flex-end;
          margin-bottom: 80px;
          width: 90%;

          @media screen and (max-height: 800px) {
            margin-bottom: 50px;
          }
        }

        .text {
          color: black;
          font-size: 14px;
          font-family: westeindeThin;
          width: 70%;
          margin-bottom: 30px;
          line-height: 20px;
        }

        .button {
          max-width: 200px;
          width: 70%;
          height: 40px;
          text-transform: uppercase;
          // background-color: black;
          background-color: transparent;
          border: 1px solid black;
          letter-spacing: 1px;
          font-family: westeindeBold;
          color: black;
          position: relative;
          cursor: none;
          padding: 0;
          pointer-events: all;
          outline: none;
          transition: color .6s $circ-ease-in-out;

          &.is-animated {
            color: white;

            div {
              transform: scaleX(1);
              transition: transform .6s $circ-ease-in-out;
            }
          }

          &.is-animated:hover {
            color: black;

            div {
              transform: scaleX(0);
              transition: transform .6s $circ-ease-in-out;
            }
          }

          div {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            transform: scaleX(0);
            transform-origin: left;
            position: absolute;
            z-index: -1;
            transition: transform .2s $circ-ease-in-out;
          }
        }

      }
    }
  }
}
