@import './variables';

.introduction-wrapper {
	width: 100%;
	height: 100%;
	transition: transform .6s $quad-ease-in-out;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 10;

	&.is-hide {
    transform: translateY(-100%);
		pointer-events: none;
  }
}

.introduction-container {
	position: absolute;
	top: 0;
	left: 0;
	background: #ffedd9;
	width: 100%;
	height: 100%;
	transition: transform .6s $quad-ease-in-out;

	.is-hide & {
		transform: translateY(100%);
		pointer-events: none;
	}

	.forms-left {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		min-width: 1000px;

		.form-black {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-image: url('../assets/interface/introduction/left-black.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: -200px;
			background-position-y: 50px;
		}

		.form-paper {
			position: absolute;
			height: 100%;
			width: 100%;
			background-image: url('../assets/interface/introduction/left-paper.svg');
      background-repeat: no-repeat;
			background-size: auto 80%;
			background-position-x: -940px;
			background-position-y: -470px;
		}
	}

	.forms-right {
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		min-width: 1000px;

		.form-black {
			position: absolute;
			height: 100%;
			width: 100%;
			background-image: url('../assets/interface/introduction/right-black.png');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: 105%;
			right: -50px;
		}

		.form-paper {
			position: absolute;
			height: 130%;
			width: 100%;
			background-image: url('../assets/interface/introduction/right-paper.svg');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position-x: 100%;
			top: 50%;
			right: -450px;
			transform: translateY(-50%);
		}
	}

	.content {
		width: 40%;
		height: auto;
		margin: auto;
		position: relative;
		top: 50%;
		transform: translateY(-60%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		img.logo {
			height: 40px;
			position: relative;
			margin-bottom: 60px;
		}

		.text {
			margin-top: 30px;
			width: 80%;
			min-height: 100px;
			text-align: center;
			font-size: 18px;
			color: #000;
			padding: 10px 0;
		}
	}
}
