@font-face {
  font-family: "poppins";
  src: url('../assets/interface/fonts/poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family:"SD Georgia Light";
  src:url("../assets/interface/fonts/SD_Georgia_Light.eot?") 
  format("eot"),url("../assets/interface/fonts/SD_Georgia_Light.woff") 
  format("woff"),url("../assets/interface/fonts/SD_Georgia_Light.ttf") 
  format("truetype"),url("../assets/interface/fonts/SD_Georgia_Light.svg#SDGeorgiaLight") 
  format("svg");font-weight:normal;font-style:normal;
}

html, body {
  margin: 0;
  top:0;
  bottom:0;
  font-family: "SD Georgia Light";
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  background: #083a34;
  color: white;
  background-image: url(../assets/stp2.jpg);
  background-size: 100% 100%;
}

.menu { width: 50%; height: 80px; }
.logo { float: left; margin-left: 120px; font-size: 3rem; line-height: 80px; }
.burger { float: right; margin-right: 20px; line-height: 80px; cursor: pointer; }
.burger img { width: 30px; }
.cross { float: right; margin-right: 20px; line-height: 80px; display: none; cursor: pointer; }
.cross img { width: 30px; }

.container { height: 100%; padding: 0px 100px 100px 100px; }

.page-container { width: 50%; height: 100%; text-align: justify; }
.page-leftContainer { float: left; background-color: #062b26; }
.page-rightContainer { float: right; background-color: #083a34; }

.chapter-page-text { line-height: 1.8rem; padding: 100px 80px 100px 80px; }
.firstLetter { font-size: 4rem; width: 60px; height: 40px; margin-top: 10px; float: left; }
.chapter-page-title { font-size: 4rem; line-height: 4rem; text-align: center; color: #c9ab60; padding: 100px 100px 0px 100px; }
.chapter-page-subtitle { font-size: 1.4rem; line-height: 2.2rem; text-align: right; padding: 100px 100px 0px 100px; }

.chapter-page-text-part { width : 44%; }
.chapter-page-firstText-leftPart { float: left; }
.chapter-page-firstText-rightPart { float: right; }
.chapter-page-secondText { margin-left: 50px; }

.chapter-page-project { width: 38%; height: 160px; margin: 0px 0px 0px 46%; cursor: pointer; text-align: center; }
.chapter-page-project-title { padding: 35px 0px 0px 0px; position: absolute; opacity: 0; left: 40%; font-size: 2.5rem; }
.chapter-page-project-description { padding: 95px 0px 0px 0px; position: absolute; opacity: 0; left: 40%; }

.chapter-page-leftProject { background-color: #083a34; margin-top: 190px; margin-left: 58%; transition: all 0.5s; }

.chapter-page-rightProject { background-color: #062b26; border-left: solid #c9ab60 5px; margin-top: 100px; }
.chapter-page-rightProject-title { font-size: 2.2rem; }

.chapter-page-nextChapter { margin-left: 50%; }
.chapter-page-nextChapter-bar { border: solid white 1px; width: 200px; }
.chapter-page-nextChapter-text { margin-top: 30px; cursor: pointer; width: 200px; text-align: center; }

.statue { position: absolute; left: 50%; transform: translateX(-55%); bottom: -50px; }
.statue img { width: 120%; height: auto; }

@media screen and (max-width: 1600px), screen and (max-height: 900px) {
/*  body { border: solid red; }
*/  .menu { height: 60px; }
  .logo { margin-left: 100px; font-size: 2.5rem; line-height: 60px; }
  .container { padding: 0px 5% 10% 5%; }
  .chapter-page-text { line-height: 1.6rem; padding: 10% 10% 10% 10%; }
  .chapter-page-title { font-size: 3.5rem; line-height: 3.5rem; padding: 10% 10% 0px 10%; }
  .chapter-page-subtitle { font-size: 1.2rem; line-height: 1.8rem; padding: 10% 10% 0px 10%; }
  .chapter-page-project-title { font-size: 2rem; }
  .chapter-page-rightProject-title { font-size: 1.8rem; }
  .chapter-page-leftProject { margin-top: 160px; }
  .chapter-page-rightProject { margin-top: 60px; }
  .statue img { width: 110%; }
}

@media screen and (max-width: 1000px), screen and (max-height: 740px) {
/*  body { border: solid blue; }
*/  .chapter-page-text { font-size: 1rem; line-height: 1.4rem; padding: 8% 8% 8% 8%; }
  .chapter-page-title { font-size: 3.2rem; line-height: 3.2rem; padding: 8% 8% 0px 8%; }
  .chapter-page-subtitle { padding: 8% 8% 0px 8%; }
  .chapter-page-project-title { font-size: 1.8rem; }
  .chapter-page-rightProject-title { font-size: 1.6rem; }
  .statue img { width: 100%; }

}
