.projectSelection, .projectsList { display: none; }

.projectSelection { text-align: center; margin-top: 44vh; font-size: 2rem; }

.projectsList {}
.projectsList-project { border: solid white 0.2px; width : 39%; height: 130px; float: left; margin: 5%; }
.projectsList-projectTitle { padding: 30px 0px 0px 30px; }
.projectsList-projectDate { padding: 20px 0px 0px 50px; }