.projectSelection, .projectsList { display: none; }

.projectSelection { text-align: center; margin-top: 44vh; font-size: 2rem; }

.projectsList { overflow-y: auto; height: 90vh; width: 100%; font-family : "PoppinsLight"; }
.projectsList::-webkit-scrollbar, { width: 0px; background: transparent; }
.projectsList-project { border: solid #062b26 0.2px; width : 39%; height: 130px; float: left; margin: 5%; cursor: pointer; background-size: cover; }
.projectsList-projectTitle { padding: 20px 20px 0px 20px; color: white; font-size: 1.4rem; }
.projectsList-projectDate { padding: 10px 0px 0px 110px; color: #c9ab60; font-size: 1.2rem; }

.projectSelected { display: none; padding: 60px; text-align: left; }
.projectSelected-projectTitle { font-size: 2.8rem; color: #c9ab60; font-family : "PoppinsLight"; }
.projectSelected-projectDate { font-size: 2rem; font-family : "PoppinsLight"; }
.projectSelected-projectRole { font-size: 1.8rem; margin-top: 5%; font-family : "PoppinsLight"; }
.projectSelected-projectTechno { font-size: 1.5rem; margin-top: 5%; }
.projectSelected-projectLink { font-size: 1.1rem; margin-top: 5%; color: #c9ab60; cursor: pointer; transition: all 0.5s; }
.projectSelected-projectLink:hover { letter-spacing: 3px; }
.projectSelected-projectDescription { font-size: 1rem; line-height: 1.4rem; margin-top: 8%; text-align: justify; overflow-y: auto; height: 53vh; width: 100%; }
.projectSelected-projectDescription::-webkit-scrollbar, { width: 0px; background: transparent; }

@media screen and (max-width: 1600px), screen and (max-height: 900px) {
	.projectSelected { padding: 50px; }
	.projectSelected-projectTitle { font-size: 2.6rem; }
	.projectSelected-projectDate { font-size: 1.6rem; }
	.projectSelected-projectRole { font-size: 1.4rem;  }
	.projectSelected-projectTechno { font-size: 1.2rem;  }
	.projectSelected-projectLink { font-size: 1rem; }
	.projectSelected-projectDescription { font-size: 0.9rem; }
}

@media screen and (max-width: 1250px), screen and (max-height: 840px) {
	.projectSelected { padding: 40px; }
	.projectSelected-projectTitle { font-size: 2.2rem; }
	.projectSelected-projectDate { font-size: 1.3rem; }
	.projectSelected-projectRole { font-size: 1.2rem; }
	.projectSelected-projectLink { font-size: 1.1rem; }
	.projectSelected-projectTechno { font-size: 1rem; }
	.projectSelected-projectDescription { font-size: 0.8rem; line-height: 1.2rem; }
}

@media screen and (max-width: 1100px), screen and (max-height: 700px) {
	.projectSelected-projectDescription { height: 50vh; }
	.projectSelection { margin-top: 38vh; font-size: 1.6rem; }
	.projectsList-projectTitle { padding: 15px 15px 0px 15px; font-size: 1.1rem; }
	.projectsList-projectDate { padding: 10px 0px 0px 70px; font-size: 1rem; }
}

/* MOBILE */
/*@media screen and (max-width: 800px), screen and (max-height: 650px) {
	.page-leftContainer { display: none; }
}*/